/* Atomic CSS */
.ff-s {
  font-family: serif;
}
.fz-08rem{
  *font-size: 0.8rem;
}
.bb-5sb {
  border-bottom: 5px solid black;
}
.pl-15 {
  padding-left: 15px
}

/* Atomic specific for svg */
.op-1-path path { 
  opacity: 1;
}
.op-1-polls .pollster { 
  opacity: 1;
}
.op-1-pathpolls .path-polls {
  opacity: 1;
}

.sc-ddd.tick line {
  stroke: #ddd;
}

/* Buttons
[class*="btn-"] {
  padding-left: 25px;
}
[class*="btn-"] span {
  color: white;
  background-color: black;
  padding: 8px 10px 5px 10px;
}*/

/* Tooltip */
.tp-line {
  stroke: black;
  stroke-width: 1;
}
.tp-circle {
  stroke: black;
  stroke-width: 3;
  fill: none;
}

.tp-text {
  background-color: rgba(250, 250, 250, 0.9);
  border-top: 1px solid black;
}
.tp-text-vi {
  color: white;
  font-size: 1.5em;
  padding: 5px 10px 0px 10px;
}
.tp-text-misc {
  line-height: 1.2em;
  padding: 5px 10px 2px 10px;
}

/* SVG */
.CON    { background-color: #005789; fill: #005789; stroke: #005789; } 
.LAB    { background-color: #E31F26; fill: #E31F26; stroke: #E31F26; } 
.LD     { background-color: #FFB900; fill: #FFB900; stroke: #FFB900; }
.UKIP   { background-color: #7D0069; fill: #7D0069; stroke: #7D0069; } 
.SNP    { background-color: #FCDD03; fill: #FCDD03; stroke: #FCDD03; } 
.GRN    { background-color: #33A22B; fill: #33A22B; stroke: #33A22B; } 
.others { background-color: #B3B3B4; fill: #B3B3B4; stroke: #B3B3B4; }

path {
  fill: none;
}

.text-party {
  font-size: 1rem;
  font-weight: bold;
}

.pollster {
  stroke-width: 1;
  opacity: 0.15;
}

.pollster:hover {
  opacity: 1; 
}

.circle-vi {
  cursor: pointer;
  stroke: transparent;
  stroke-width: 9;
}

.path-average {
  stroke-width: 6;
  opacity: 0.5;
}
.pollster path {
  stroke: black;
  opacity: 0;
}

.polygon-range {
  cursor: pointer;
  fill: transparent;
  stroke: transparent;
}

.axis path,
.axis line {
  stroke: black;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
.axis.y path {
  display: none;
}
